@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*  */
}
body {
  background-color: #1e213f;
  color: #d7e0ff;
}

/* Responsive adjustments */
@media screen and (min-width: 320px) and (max-width: 600px) {
  .container {
    transform: scale(0.9);
  }

  main {
    width: 20rem !important;
    height: 20rem !important;
  }

  main div::before {
    width: 18rem !important;
    height: 18rem !important;
  }

  h1 {
    font-size: 4rem !important;
  }
}
